@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100vw;
    overflow-x: hidden;
}

.Btn{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.poppins{
    font-family: 'Poppins', sans-serif;
}

/* .karla{
    font-family: 'Karla', sans-serif;
} */