@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100vw;
    overflow-x: hidden;
}
*{
  transition: color 0.5s ease, background-color 0.5s ease;
}

.Btn{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

@keyframes shine {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.shiny-text {
  @apply bg-gradient-to-r from-[#3458bd] via-[#65faff] to-[#004CBE] text-transparent bg-clip-text;
  background-size: 200% auto;
  animation: shine 8s linear infinite;
}

.scrollHidden{
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
.scrollHidden::-webkit-scrollbar {
  display: none;
}


input{
  outline: none;
}

input:focus{
 
  @apply dark:border-[#FF7A00] border-[#FF7A00] border;
}

input {
  @apply dark:bg-[#141414];
}
